@model Miniwd.Models.Flat

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        DOdatkowy tekst który secjalnie powinien pojawić się dla Kuby :)
    </div>
    <div>
        <div>
            Rodzaj oferty:
        </div>
        <div>
            @Html.RadioButtonFor(x => x.KindOfOperation, "Kupno") Kupno
            <br />
            @Html.RadioButtonFor(x => x.KindOfOperation, "Wynajem") Wynajem
        </div>
    </div>

    <div>
        <div>
            Rodzaj mieszkania:
        </div>
        <div>
            @Html.RadioButtonFor(x => x.KindOfSpace, "Mieszkanie") Mieszkanie
            <br />
            @Html.RadioButtonFor(x => x.KindOfSpace, "Pokój") Pokój
        </div>
    </div>

    <div>
        Ilość pokojów:
        @Html.TextBoxFor(x => x.RoomsAmount)
    </div>

    <div>
        Ilość łazienek:
        @Html.TextBoxFor(x => x.BathroomsAmount)
    </div>

    <div>
        <div>
            Ocena lokalizacji:
        </div>
        <div>
            @Html.RadioButtonFor(x => x.IsGoodLocation, "Tak") Tak
            <br />
            @Html.RadioButtonFor(x => x.IsGoodLocation, "Nie") Nie
        </div>
    </div>

    <div>
        Metraż:
        @Html.TextBoxFor(x => x.Size)
    </div>

    <div>
        Cena:
        @Html.TextBoxFor(x => x.Price)
    </div>

    <div>
        Jakość mieszkania:
        @Html.TextBoxFor(x => x.Standard)
    </div>

    <div>
        Piętro:
        @Html.TextBoxFor(x => x.Floor)
    </div>
</body>
</html>
