@model Miniwd.Models.Flat

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/form-styles.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="panel panel-success">
            <div class="panel panel-heading text-center">
                <h4>Wyniki działania</h4>
            </div>
            <div class="panel-body row">
                <div class="col-2"></div>
                <div class="col-8 row">
                    <div class="col-6 form-div">
                        <div class="panel panel-info">
                            <div class="panel panel-heading text-center">Dane wprowadzonej przez Ciebie oferty</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label text-right">Rodzaj oferty:</label>
                            @if (Model.KindOfOperation.Equals("W"))
                            {
                                <span class="col-form-label">Wynajem</span>}
                            else
                            {
                                <span class="col-form-label">Kupno</span>}
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label text-right">Rodzaj przestrzeni:</label>
                            @if (Model.KindOfSpace.Equals("M"))
                            {
                                <label class="col-form-label">Mieszkanie</label>}
                            else
                            {
                                <label class="col-form-label">Pokój</label>}
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label text-right">Liczba pokoi:</label>
                            <span class="col-form-label">@Model.RoomsAmount</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label text-right">Ocena lokalizacji:</label>
                            <span class="col-form-label">
                                @switch (Model.LocationRating)
                                {
                                    case 5:
                                        <span>Bardzo dobra (5)</span>
                                        break;
                                    case 4:
                                        <span>Dobra (4)</span>
                                        break;
                                    case 3:
                                        <span>Średnia (3)</span>
                                        break;
                                    case 2:
                                        <span>Słaba (2)</span>
                                        break;
                                    case 1:
                                        <span>Bardzo słaba (1)</span>
                                        break;
                                }
                            </span>
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label text-right">Metraż:</label>
                            <span class="col-form-label">@Model.Size m2</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label text-right">Cena:</label>
                            <span class="col-form-label">@Model.Price zł</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label text-right">Ocena standardu:</label>
                            <span class="col-form-label">
                                @switch (Model.Standard)
                                {
                                    case 5:
                                        <span>Bardzo wysoki (5)</span>
                                        break;
                                    case 4:
                                        <span>Wysoki (4)</span>
                                        break;
                                    case 3:
                                        <span>Średni (3)</span>
                                        break;
                                    case 2:
                                        <span>Niski (2)</span>
                                        break;
                                    case 1:
                                        <span>Bardzo niski (1)</span>
                                        break;

                                }
                            </span>
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label text-right">Piętro:</label>
                            <span class="col-form-label">@Model.Floor</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label text-right">Miejscowość:</label>
                            <span class="col-form-label">@Model.City</span>
                        </div>
                    </div>
                    <div class="col-6 form-div">
                        <div class="panel panel-warning">
                            <div class="panel panel-heading text-center">Twoje preferencje</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label text-right">Preferowana liczba pokoi:</label>
                            <span class="col-form-label">@Model.UserRoomsAmount</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label text-right">Preferowana istotność lokalizacji:</label>
                            <span class="col-form-label">
                                @switch (Model.UserLocationRating)
                                {
                                    case 5:
                                        <span>Bardzo ważna (5)</span>
                                        break;
                                    case 4:
                                        <span>Ważna (4)</span>
                                        break;
                                    case 3:
                                        <span>Obojętna (3)</span>
                                        break;
                                    case 2:
                                        <span>Mało ważna (2)</span>
                                        break;
                                    case 1:
                                        <span>Nieistotna (1)</span>
                                        break;
                                }
                            </span>
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label text-right">Preferowana cena:</label>
                            <span class="col-form-label">@Model.UserPrice zł</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label text-right">Ocena standardu:</label>
                            <span class="col-form-label">
                                @switch (Model.UserStandard)
                                {
                                    case 5:
                                        <span>Bardzo wysoki (5)</span>
                                        break;
                                    case 4:
                                        <span>Wysoki (4)</span>
                                        break;
                                    case 3:
                                        <span>Średni (3)</span>
                                        break;
                                    case 2:
                                        <span>Niski (2)</span>
                                        break;
                                    case 1:
                                        <span>Bardzo niski (1)</span>
                                        break;
                                }
                            </span>
                        </div>

                    </div>
                    <div class="col-12 text-center form-div">
                        @if (Model.IsGoodOfert)
                        {
                            <div class="panel panel-heading progress-bar-success">
                                Wynik analizy
                            </div>
                            <label class="text-center">Nasz system stwierdził, że ta oferta <b>jest</b> opłacalna</label> }
                        else
                        {
                            <div class="panel panel-heading progress-bar-danger">
                                Wynik analizy
                            </div>
                            <label class="text-center">Nasz system stwierdził, że ta oferta <b>nie jest</b> opłacalna</label>
                        }
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    }
</body>
</html>
